body {
  background: #000000 url('Lobster_Nebula.jpg')
  no-repeat fixed center;
  background-size: cover;
  font-family:"Helvetica", Arial, sans-serif;
  font-weight:lighter;
  margin:0 auto;
  text-align:center;
  margin-top:195px;
  color:#fff;
  text-shadow:-1px -1px #333;
  h1 {
    font-weight:lighter;
   }
   .turn {
    margin-bottom:10px;
   }
   table {
    border-collapse:collapse;
    width:150px;
    margin:0 auto;
    color:#FFF;
    td {
      width:50px;
      height:50px;
      border:1px solid #fff;
      cursor:pointer;
      &:before {
        font-size:1.5em;
        line-height:1;
      }
      &.x:before {
        content:"x";
        color:#6a96ca;
      }
      &.o:before {
        content:"o";
        color:#fe974a;
      }
    }
  }
  .reset {
    background-color: Transparent;
    border:1px;
    padding:5px 10px;
    color:#fff;
    cursor:pointer;
    font-family:"Helvetica", Arial, sans-serif;
    &:hover {
      opacity:0.8;
    }
    &:focus {
      outline:0;
    }
  }
}
